.page{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #616161;
    position: relative;
}

.loader {
    position: relative;
    width: 120px;
    height: 120px;
    animation: animateBg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animateBg {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(15px * (var(--i) / 20));
    height: calc(15px * (var(--i) / 20));
    border-radius: 50%;
    background-color: #fff;
}