.card{
    background-color: var(--bg-black-dark);
    border-top: 3px solid var(--bg-white-light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .4);
}

.card__title{
    flex-basis: fit-content;
    padding: 1em 0.75em;
    display: flex;
    gap: 5em; /*it decides the width of the card*/
    align-items: center;
    justify-content: space-between;
}

.card__title span{
    font-size: 1.75rem;
    color: var(--bg-white-light);
    font-weight: 600;
    width: max-content;
}

.card__content{
    flex-basis: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.card__content::-webkit-scrollbar {
    width: 8px;
}

.card__content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    margin-inline: 1em;
    border-radius: 20px;
}

.card__content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.card__footer{
    flex-basis: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    font-weight: bold;
    padding-bottom: 1em;
    color: var(--test);
}

.card__footer span{
    cursor: pointer;
}

.modal{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg-white-darker);
}