.page{
    display: flex;
    height: 100vh;
}

.body{
    flex : 1 1 auto;
    display: grid;
    grid-template-rows: max-content 1fr;
    background-color: #616161;
}

.layout{
    padding: 1.5em;
    display:flex;
    gap:1rem;
    overflow-x: scroll;
    margin-bottom: 1em;
}

.layout > *{
    flex: 0 0 25vw;
}

.addSection{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    cursor: pointer;
}
.addSection span{
    width: max-content;
}

.layout::-webkit-scrollbar {
    height: 10px;
}

.layout::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    margin-inline: 1em;
    border-radius: 20px;
}

.layout::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
