.page{
    display: flex;
}


.layout{
    padding: 24px;
    display:flex;
    gap:16px;
    align-items: flex-start;
    overflow-x: auto;
}

.layout::-webkit-scrollbar {
    color: red;
    height: 18px;
    width: 15px;
    /*todo:choose some colors*/
}

.layout::-webkit-scrollbar-track {
    background-color: rgba(213, 194, 161, 0.3);
    margin-inline: 1em;
    border-radius: 20px;
}

.layout::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid rgba(213, 194, 161, 0.3);
}