.layout{
    background-color: aliceblue;
    max-width: 100vw;
    min-height: auto;
    padding: 24px;
    display:flex;
    gap:16px;
    align-items: flex-start;
    overflow-x: scroll;
    scrollbar-base-color: red !important;
    scrollbar-3dlight-color: red !important;
    scrollbar-arrow-color: red !important;
}

.App{

}