@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');

:root{
    --bg-black-darker:#1b1c1e;
    --bg-black-dark:#1f1f1f;
    --bg-black-light:#2b2b2b;
    --bg-black-lighter:#303030;
    --bg-white-lighter:#fffefd;
    --bg-white-light:#fdfeff;
    --bg-white-dark: #fefefe;
    --bg-white-darker: #f6f6f6;
    --sidebar-bgc:hsl(227.65,29.31%,22.75%);
    --sidebar-bgc-dark: #22283f;
    --secondary-color: rgba(31, 31, 31, 0.11);
    --test: rgba(131, 131, 131, 0.55);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    overflow: hidden;
}

ul, ol {
    list-style: none !important;
    padding-left: 0 !important;
}

a {
    text-decoration: none !important;
    color: #fff;
}

body {
    margin: 0;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

