

table.responsive-table {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
}


table.responsive-table td {
    line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
    text-align: left;
}